#test

# ===== Eclipse =====
.metadata
.settings/
.loadpath
.project
.classpath
.factorypath
.springBeans
.recommenders/
.sts4-cache/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.properties

# sbteclipse
.target

# ===== IntelliJ IDEA / JetBrains IDEs =====
.idea/
*.iml
out/

# Rest Client
.idea/httpRequests

# Markdown Navigator plugin
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator/

# ===== Git =====
*.orig
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
# ===== Java =====
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# ===== Maven =====
target/
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
